body {
    margin: 0;
    padding: 0;
    background-color: #17a2b8;
    font-family: sans-serif;
}

.input{
    position: fixed;
    top: 50%;
    left: 610px;
    transform: translate(-30%, -50%);
    background: rgb(0, 0, 0);
    padding: 50px;
    width: 270px;
    box-shadow: 0px 0px 30px 10px black;
    border-radius: 15px;
}

.input h1{
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-family: sans-serif;
    letter-spacing: 3px;
    padding-top: 0;
    margin-top: -20px;
    color: white;
}

.box-input {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    border-bottom: 2px solid white;
    padding: 8px 0;
}


.box-input input{
    width: 85%;
    padding: 5px 0;
    background: none;
    border: none;
    outline: none;
    color: white;
    font-size: 18px;
}

.box-input input::placeholder {
    color:white;
}

.btn-input .box-input input:hover {
    background: rgba(10, 10, 10, s 0.5);
}
.btn-input {
    margin-left: 10px;
    margin-bottom: 20px;
    background: none;
    border: 1px  solid white;
    width: 92.5%;
    padding: 10px;
    color: white;
    font-size: 18px;
    letter-spacing: 3px;
    cursor: pointer;
    transition: all .2s;
    border-radius: 10px;
}

.btn-input:hover {
    background: black;
}

.bottom {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: -20px;
}

.bottom p{
    color: white;
    font-size: 15px;
    text-decoration: none;
}

.bottom a {
    color: aquamarine;
    font-size: 15px;
    text-decoration: none;
}

.bottom a:hover {
    text-decoration: underline;
}