/* styles.css */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #e9ecef;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #343a40;
    color: white;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav {
    background-color: #495057;
    padding: 10px 0;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #6c757d;
}

.container {
    flex: 1;
    padding: 20px;
}

.table-wrapper {
    background-color: white;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #dee2e6;
}

th, td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: #f1f3f5;
}

td .btn {
    background-color: #17a2b8;
    color: white;
    text-decoration: none;
    padding: 6px 12px;
    border-radius: 5px;
    margin-right: 5px;
    transition: background-color 0.3s;
}
.btn {
    display: inline-block;
    padding: 8px 12px;
    font-size: 14px;
    color: white;
    background-color: #4CAF50;
    border: none;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

td .btn:hover {
    background-color: #138496;
}

.image-cell img {
    max-width: 100px;
    height: auto;
    display: block;
    border-radius: 5px;
}

footer {
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

.form-container {
    background-color: white;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    margin: 20px auto;
}

form label {
    display: flex;
    margin-bottom: 5px;
}

form input[type="text"],
form input[type="number"],
form input[type="file"] {
    height: 100%;
    width: 95%;
    padding: 10px;
    margin-bottom: 12px;
    border: 1px solid #ced4da;
    border-radius: 5px;
}

.date-time-wrapper {
    display: flex;
    
    gap: 108px;
}

.date-time-wrapper input[type="date"],
.date-time-wrapper input[type="time"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 12px;
    border: 1px solid #ced4da;
    border-radius: 5px;
}

form input[type="submit"] {
    background-color: #17a2b8;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

form input[type="submit"]:hover {
    background-color: #138496;
}